*{
    margin: 0;
    padding: 0;
    font-family:"Roboto",sans-serif ;
}

body{
    background: #f5f5f5;
    /* overflow: hidden; */
}

nav{
    background: #232f3e;
    color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px;

}


.search-container{
    position: relative;
}
.search-container input,button{
    padding: 5px 10px;
    border: none;
    font-size: 16px;

}

.search-container input{
    border-radius: 3px 0 0 3px;
    outline: none;

}
.search-container button{
    border-radius: 0 3px 3px 0;
    background-color: #f5c518;
    cursor: pointer;
    transition: all 0.2s;
}

.search-container button:hover{
    background-color: orange;
}

.movie-container{
    display: flex;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
    width: 80%;
    
    
}

.movie-poster img{
    height: 100%;
    margin-right: 30px;
    border-radius: 5px 0 0 5px;

}

.Movie-info{
    padding-inline: 10px;

}

.Movie-info h2{
    text-align: center;
    font-size: 32px;
    margin: 10px 0 12px 0;
}


.Movie-info h2+p{
    text-align: center;
}

.Movie-info .Movie-Genre{
    display: flex;
    justify-content: center;
    margin-block: 5px;
    overflow-x: auto;
}

.Movie-info .Movie-Genre p{
    background: #232f3e;
    color: #fff;
    padding: 5px 14px;
    margin-inline: 5px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;
}

.Movie-info p{
    font-size: 18px;
    margin-block: 16px;
    line-height: 24px;
}

.movie-container.noBackground{
    background: none;
    box-shadow: none;
    align-items: center;
    height: 65vh;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    margin-block: 38px;
    position: relative;
}


main section{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 65vh; */
}



footer{
    text-align: center;
    background-color:#232f3e ;
    color: #fff;
    padding-block: 20px;
    margin-top: 40px;
    font-size: 20px;
}

.errormsg{
    text-align: center;
}


/* responsive code */
@media screen and (max-width:950px) {
    .movie-container{
        flex-direction: column;
    }

    .movie-poster img{
        width: 100%;
        height: fit-content; 
        margin-right: 0;
    }
    .Movie-info{
        padding-inline: 30px;
    }
    .skeleton-container{
        flex-direction: column;
        
        
    }
    .skeleton-loaderimg{
        width: 100% !important;
        
    }
    .loadermain{
        width: 100% !important;
        
    }



    .skeleton-loader:nth-child(1){
        margin-left: auto !important;
        margin-right: auto !important;
        width: 40% !important;
        height: 25px !important;

    }
    .skeleton-loader:nth-child(2){
        margin-left: auto !important;
        margin-right: auto !important;
        width: 40% !important;
        height: 25px !important;
    }
    .skeleton-loader:nth-child(3){
        margin-left: auto !important;
        margin-right: auto !important;
        width: 40% !important;
        height: 25px !important;
    }

    .skeleton-loader{
        height: 25px !important;
        
    }

}
  
@media screen and (max-width:630px){
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .search-container{
        margin-top: 12px;
    }

    .skeleton-loader{
        margin: 0 auto 10px auto !important;
    }

    .skeleton-loaderimg{
        height: 300px !important;
    }

    .loadermain{
        height: 300px !important;
    }
}


/* .loading{
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #232f3e;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
    position: absolute;
    top: 200px;
    right: 50%;
    
}



@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

.skeleton-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    gap: 20px;
    width: 80%;
    margin-top: 50px;
    display: none;
  }


  .loadermain{
    width: 60%;
    height: 350px;
    
    
  }
.skeleton-loader {
    width: 100%;
    height: 25px;
    margin-top: 20px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s ease-in-out infinite;
  }

  @keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
.skeleton-loader:nth-child(1)  {
    width: 50%;
    height: 30px;
    margin-top: 0px;
    margin-inline: auto;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s ease-in-out infinite;
  }


.skeleton-loader:nth-child(2)  {
    width: 50%;
    height: 30px;
    margin-inline: auto;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s ease-in-out infinite;
  }

 
.skeleton-loader:nth-child(3)  {
    width: 50%;
    height: 30px;
    margin-bottom: 60px;
    margin-inline: auto;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s ease-in-out infinite;
  }

 
  


  .skeleton-loaderimg{
    width: 30%;
    height: 350px;
    border-radius: 5px 0 0 5px;
    left: 10%;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s ease-in-out infinite;
  }